<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <p><a href="/register">Register</a></p>
    <p><a href="/login">Login</a></p>

    <h2>Login</h2>
        <form action="/auth/login" method="POST">
            <p>
                <input type="email" name="email" id="email" placeholder="Masukkan Email..">
            </p>            
            <p>
                <input type="password" name="password" id="password" placeholder="Masukkan Password..">
            </p>
            <button type="submit">Simpan</button>
        </form>
        {{#if message}}
            <h4>{{message}}</h4>
        {{/if}}
</body>
</html>