<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>daftar</title>
</head>
<body>
    <p><a href="/register">Daftar</a></p>
    <p><a href="/login">Login</a></p>

    <div>
        <h2>Daftar</h2>
        <form action="/auth/register" method="POST">
            <p>
                <input type="text" name="name" id="name" placeholder="Masukkan Nama..">
            </p>
            <p>
                <input type="email" name="email" id="email" placeholder="Masukkan Email..">
            </p>            
            <p>
                <input type="password" name="password" id="password" placeholder="Masukkan Password..">
            </p>
            <button type="submit">Simpan</button>
        </form>
        {{#if message}}
            <h4>{{message}}</h4>
        {{/if}}
    </div>
</body>
</html>