<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist</title>
</head>
<body>
    <div>
        <h2>ToDo List</h2>
        <h3>Hai andriiii</h3>
        {{#if message}}
            <p>{{message}}</p>
        {{/if}}
        <!-- Isi ToDo list -->
    </div>
</body>
</html>