<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist</title>
</head>
<body>
    <div>

    <h1>ToDo List</h1>
    
    <!-- Form untuk menambah tugas -->
    <form action="/todolist/add" method="post">
        <input type="text" name="task" placeholder="Tambah Tugas" required>
        <button type="submit">Tambah</button>
    </form>
    <form action="/todolist/deleteAll" method="post">
        <button type="submit">Hapus Semua</button>
    </form>

    <!-- Daftar tugas -->
    <ul>
        {{#each tasks}}
            <li>
                {{this.task}}
                <a href="/todolist/edit/{{this.id}}">Edit</a>
                <a href="/todolist/delete/{{this.id}}">Hapus</a>
            </li>
        {{/each}}
    </ul>
        {{#if message}}
            <p>{{message}}</p>
        {{/if}}
        
    </div>
</body>
</html>